@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins";
  boder:2px solid red;
}

:root {
  --Red: hsl(0, 87%, 67%);
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
  --Font-size: 18px;
  --Weights: 500;
  --heavy-weight: 700;
  --logo: url("./images/logo.svg");
  --hero-image: url("./images/illustration-working.svg");
  --bg-shorten-mobile: url("./images/bg-shorten-mobile.svg");
  --bg-shorten-desktop: url("./images/bg-shorten-desktop.svg");
  --icon-1: url("./images/icon-brand-recognition.svg");
  --icon-2: url("./images/icon-detailed-records.svg");
  --icon-3: url("./images/icon-fully-customizable.svg");
  --bg-boost-desktop: url("./images/bg-boost-desktop.svg");
  --bg-boost-mobile: url("./images/bg-boost-mobile.svg");
  --facebook:url("./images/icon-facebook.svg");
  --twitter:url("./images/icon-twitter.svg");
  --pintrest:url("./images/icon-pinterest.svg");
  --instagram:url("./images/icon-instagram.svg")
}

main {
  font-size: var(--Font-size);
  background-color: rgba(128, 128, 128, 0.091);
}

.wrapper,
header {
  margin: 4%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

nav {
  margin: 3em 1em;
  display: flex;
  align-items: flex-start;
}
label[for="url-text"]{
    color:rgb(235, 15, 15); 
    position:absolute;
    margin-top:4em;
    z-index:1;
    font-size:14px;
   font-style: italic;
    font-weight:700;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  margin: 0px 2em;
}

ul {
  display: flex;
  gap: 1rem;
  padding-bottom: 2em;
}
li a, ul a{
    color:white;
}
li {
  padding: 0.5em 0px;
}

.navbrand {
  content: var(--logo);
}
.signup{
    background-color:var(--Cyan);
    padding:10px 15px;
    /* margin:0.5em 2em; */
    border-radius:3rem;
    color:white;
}
.signup:hover{
  cursor:pointer;
}
.hero-img {
  content: var(--hero-image);
  width: 100%;
}

.hero-section {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: var(--Cyan);
  color: white;
  padding: 1rem;
  border-radius: 2em;
  width: 10em;
  margin: 1em 0em;
  text-align: center;
  border:none;
}
.input-label {
  display:flex;
  flex-direction:column;
  width:100%
}
.input-label input[type="url"]{
  width:100%;
}
input[type="button"] {
  background-color: var(--Cyan);
  color: white;
  border: none;
  outline: none;
  border:none;
}

input[type="url"] {
  width: 80%;
  outline: none;
}

.input-wrapper {
  display: flex;
  width:100%;
  gap:0.5em;
  align-items: center;
}


.line{
  background-color:var(--Cyan);
  width:2%;
  height:90px;
  align-self: center;
  margin-top: -3em;
  margin-bottom: -3em;
  transform:rotate(90deg);
  z-index:-3;
}

.section-2 input{
  border-radius: 5px;
  padding: 15px 15px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4em 0;
}

.header-intro h1 {
  color: var(--Very-Dark-Violet);
  font-size: xx-large;
  font-weight: 700;
  line-height: 1em;
}

.heading-paragraph p {
  color: var(--Grayish-Violet);
  text-align: left;
  margin: 2em 0em;
}

.section-2 {
  background-image: var(--bg-shorten-desktop);
  display: flex;
  justify-content: center;
  margin: em 0em;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--Dark-Violet);
  border-radius: 5px;
  padding: 1.5rem;
}

.section-2 input {
  border-radius: 5px;
}

.section-3 {
  text-align: center;
  margin-top: -7em;
  padding-top: 12em;
}

.section-4 {
  margin-top: -2em;
  padding-top: 3em;
}

.icon-1 {
  content: var(--icon-1);
  background-color: var(--Dark-Violet);
  padding: 1rem;
  border-radius: 50%;
}

.icon-2 {
  content: var(--icon-2);
  background-color: var(--Dark-Violet);
  padding: 1rem;

  border-radius: 50%;
}

.icon-3 {
  content: var(--icon-3);
  background-color: var(--Dark-Violet);
  padding: 1rem;
  border-radius: 50%;
}

.icon-1,
.icon-2,
.icon-3 {
  display: flex;
  justify-content: center;
}

.icon {
 
  margin: -4em 4em 10px 10px;
}

.inner-container {
  background-color: white;

  padding: 2em;
  margin: 2em 0em;
}

.heading-paragraph .advance-stat-paragraph {
  text-align: center;
}

.section-4 {
  display: flex;
  gap: 1em;
}

.section-4 h3 {
  color: var(--Dark-Violet);
  padding: 0.5em;
}

.section-4 p {
  color: var(--Dark-Violet);

  color: var(--Gray);
}

.newsletter-container {
  background-image: var(--bg-boost-desktop);
  background-color: var(--Dark-Violet);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: var(--Very-Dark-Violet);
  color: white;
  text-align: center;
}
.first-container {
    padding: 2rem 2rem;
    margin: -3.5em 0em auto auto ;
  }

.quick-links-container ul {
  display: block;
}
.footer-quick-link{
    display:flex;
    gap:3em;
    place-self: center;
    text-align: initial;

}
.quick-links-container {
  display: flex;
    margin:3em;
    justify-content: space-around;
    align-items:baseline
}
.social{
display:flex;
gap:1em;
}
.facebook{
    content:var(--facebook);
}
.twitter{
    content:var(--twitter);
}
.pintrest{
    content:var(--pintrest);
}
.instagram{
    content:var(--instagram);
}
.icon-menu:hover, .btn:hover, li:hover, .button:hover{
  cursor:pointer
}
.response_container{
  display:grid;
  grid-template-columns: auto auto;
  margin:1.5em 0.5em;
  background-color:white;
  padding:1em;
  line-height: 38px;
  justify-content: space-between;
  width:100%;
  align-items: center;
 
}
.input_url{
  padding:3em auto;
  
}
.url_shorten_link{
  color: var(--Cyan);
  padding:5px auto;
  border-radius: 2em;

}
.Copy{
  padding:1em;
  font-family: "Poppins";
  font-weight: 700;
  border-radius:6px;
}
.Copy:active{
color:var(--Grayish-Violet)
}
.hr{
  display:flex;
  gap:10px;
}


@media screen and (max-width:46em) {
  nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
  }

  ul {
    display: block;
    gap: 1rem;
  }

  .quick-links-container .navbrand {
    color: #ffff;
    margin: 4em 0em;
  }
  .icon-menu:hover, .btn:hover, li:hover, .button:hover{
    cursor:pointer
  }

  .nav-list {
    display:none;
    flex-direction:column;
    gap: 1rem;
    position:absolute;
    background-color:var(--Dark-Violet);
    width:80%;
    color:white;
    margin:50vh auto auto auto;
    padding-top:2em;
    align-items:center;
    z-index:10;
    border-radius:10px;
  }
  .menu-items, .login-item{
    display: inline-flexbox;
  }

  .menu-items > .list-item,
  .menu-login > .list-item {
    display:block;
    text-align:center;
  }

  ul li {
    padding: 5px 1px;
    /* display: none; */
  }

  ul > a {
    padding: 5px 1px;
    color: white;
    font-weight: bolder;
  }

  .icon-menu {
    content: url("./images/icon-menu.svg");
  }

  .hero-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 0;
    text-align: center;
  }

  .section-2 {
    background-image: var(--bg-shorten-mobile);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Dark-Violet);
    border-radius: 5px;
    padding: 0px;
  }

  .section-2 div {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    width: 100%;
  }

  .heading-paragraph p {
    color: var(--Grayish-Violet);
    text-align: center;
    margin: 2em 0em;
  }

  input[type="button"] {
    background-color: var(--Cyan);
    color: white;
    border: none;
    width: 100%;
  }

  input[type="url"] {
    width: 100%;
  }

  .section-2 input {
    border-radius: 5px;
    padding: 15px 15px;
  }

  .section-4 {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .section-4 h3 {
    padding: 0.5em;
  }

  .icon {
    margin: -4em auto 1em auto;
  }

  .newsletter-container {
    margin: auto;
  }

  .newsletter-container > input {
    width: 30%;
  }

  .newsletter-container {
    background-image: var(--bg-boost-mobile);
    background-color: var(--Dark-Violet);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .first-container {
    padding: 2rem 2rem;
    margin: -3.5em 0em auto auto ;
  }

  .quick-links {
    display: flex;
    justify-content: center;

  }
  .quick-links-container {
    display: flex;
    flex-direction:column;
    align-items:center;
  }
  .footer-quick-link{
    display:flex;
    flex-direction:column;
    gap:0.1em;
    text-align: center;
}
.line{
  background-color:var(--Cyan);
  width:2%;
  height:90px;
  align-self: center;
  margin-top: -3em;
  margin-bottom: -3em;
  transform:rotate(0deg);
  z-index:-3;
}
label[for="url-text"]{
  align-self: baseline;
  margin-top:5.5em;
}
.signup{
  background-color:var(--Cyan);
  padding:10px;
  margin:0.5em 2em;
  border-radius:3rem;
}
.response_container{
  display:flex;
  flex-direction: column;

}
.hr{
  border-top: 1px solid var(--Gray);
  flex-direction: column;
}
}
